<!--
BarChart Visualization
-->
<div [chart]="chart" class="custom-chart"></div>


<!--
Button- and Input-Group
-->
<table style="margin-left: 30px">
  <tr>
    <td style="padding-bottom: 22px;">
      <button mat-raised-button color="primary" class="refresh-button-custom" (click)="updateChart()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </td>
    <td>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Visualisierungstitel</mat-label>
        <input matInput type="text" [(ngModel)]="chartOptions.title.text">
        <button matSuffix mat-icon-button aria-label="Save BarChart" (click)="saveVisualization()">
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
    </td>
  </tr>
</table>

